
.event {
  border: 1px solid gainsboro;
 margin: 1em;
  padding: 1em;
  box-shadow: 1px 1px 1px 1px gainsboro;
}


.messages p {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.message {
  padding: 10px;
}