body {
  color:rgb(77, 77, 77);

}

.event {
  border: 1px solid gainsboro;
 margin: 1em;
  padding: 1em;
  box-shadow: 1px 1px 1px 1px gainsboro;
  border-radius: 5px;
  background-color: rgb(250, 250, 250);
}

.col {
  display: flex;
  align-content: center;
}

.card {
  border: 0px;
}

.profile {
    border: 1px rgb(157, 189, 211) solid;
  padding: 2em;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px rgb(129, 216, 208);
}

.cardContainer {
  border: 1px gainsboro solid;
  padding: 2em;
  margin-top: 40px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px gainsboro;

}
.cardContainer:hover{
    // color: rgb(37, 13, 190);
    color: rgb(129, 216, 208);
  cursor: pointer;
}


// .header{
//   display: grid;
//   grid-template-columns: repeat(3);
// align-items: center;
// }
.messages p {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.message {
  padding: 10px;
}